
body{
  background-image: url('/bg.png');
  background-color: #fff;
}
.app-container {
  font-family: Arial, sans-serif;
  padding: 20px;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}

.title {
  margin-bottom: 20px;
  width: 100%;
  max-width: 500px;
}

.warning {
  color: red;
  font-weight: bold;
}

.content-container {
  margin-top: 30px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
}

.subtitle {
  font-size: 1.5em;
  margin-bottom: 15px;
}

.options-form {
  margin-bottom: 20px;
  text-align: left;
}

label {
  margin-right: 10px;
}

.share-button {  
  background-color: #ffe500;
  color: #333;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.1em;
  transition: background-color 0.3s;
}

.share-button:hover {
  background-color: #ffde5a;
}

.share-data {
  margin-top: 20px;
  border-top: 1px solid #ccc;
  padding-top: 10px;
}

.share-data h3 {
  margin-bottom: 10px;
  font-size: 1.3em;
}
.share-data-content{
  text-align: left;
}
